html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hoverbox {
  display: inline;
  width: calc(100% - 5px);
}

.enlarge {
  font-size: 100%;
  transition: font-size 1s cubic-bezier(0,.75,0,1);
}

.hoverbox:hover .enlarge {
  font-size: 120%;
}

a {
  text-decoration: none;
  color: #dedede;
a:visited {
  color: #7f7f7f;
}

a:hover {
  color: #bfbfbf;
}
